<div id="introBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="user-intro">Introduction &amp; Background</h1>
	</div>
	<div class="content-rounded-panel">
		<div id="introBlurb">
			I am a Ph.D. student with a research focus in musculoskeletal biomechanics at the University of Wisconsin-Madison. My research interests involve experimental biomechanics and modeling, as well as the development of intraoperative sensors to enhance surgical procedures, such as total knee arthroplasty. I am currently working on a project involving the evaluation of a novel shear wave tensiometer to assess ligament tension during a TKA procedure.
		</div>
		<br>
	</div>
</div>
